html, body {
    height: 100%;
    margin: 0;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 80%; 
}

.inner-container {
    width: 33%; 
    padding: 20px;
    background-color: white;
    border-radius: 10px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
}